    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">DISK ON RAILS</a>
      <ul class="navbar-nav ml-auto">
        <a class="navbar-brand">Hi, <%= @user.email %> </a>
        <%= link_to "LOG OUT", logout_path, class:"nav-link border border-primary rounded",  method: :delete %>
      </ul>
    </nav>