<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DISK ON RAILS</a>
    <ul class="navbar-nav ml-auto">
    <%# <button type="button" class="btn btn-outline-success me-2" href="#" data-toggle="modal" data-target="loginModal">LOG IN</button> %>
        <%= link_to "LOGIN", login_path, class:"nav-link border border-primary rounded"%>
        <%= link_to "REGISTER", register_path, class:"nav-link border border-primary rounded"%>
    </ul>
</nav>